
/* Global Style */

body {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%
}

::selection {
    background-color: #ffffff;
    color: #ffffff;
}

::-moz-selection {
    background-color: #ffffff;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: 'Special Elite', cursive; */
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

a {
    color: #bc22c2;
}

a:hover,
a:active,
a:focus {
    color: #bc22c2;
    text-decoration: none;
	outline: none;
}

p {
    line-height: 28px;
    font-family: 'Poppins', sans-serif;
}

b {
	font-weight: 600;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.white-color {
    color: #ffffff !important;
}

.no-padding {
    padding: 0
}

.section-space-padding {
    padding: 0px 0px 80px;
}

.section-title {
    position: relative;
    margin-bottom: 100px;
    /* padding-top: 80px; */
}

/* .section-title:before {
    content: "";
    border: 1px solid #bc22c2;
    position: absolute;
    top: 0;
    left: 50%;
    height: 90px;
    margin-left: -0.5px;   
} */

.section-title i {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    font-size: 42px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto 50px;
    background-color: #ffffff;
    color: #ffffff;
    box-shadow: 7px 24px 84px 0 rgba(0, 0, 0, 0.38);
}

.section-title h2 {
    text-align: center;
    font-size: 30px;
    color: #000000;
}

.section-title span {
    color: #bc22c2 !important;
}

.pattern-bg {
	/* background: url(../images/bg/pattern-bg.png); */
    /* background-repeat: repeat; */
    background-color: #ffffff;	
}

.box-shadow-show {
    box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
}

.btn {
	color: #ffffff;
	padding: 0px;
	font-size: 25px;
	width: 50px;
    height: 50px;
    background: #bc22c2;
    line-height: 50px;
    border-radius: 100%;
}

.btn.focus, .btn:focus, .btn:hover {
	color: #ffffff;
}

.btn.active, .btn:active {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.button {
    border: none;
    font-family: inherit;
    font-size: 15px;
    color: #ffffff;
    background: #bc22c2;
    cursor: pointer;
    border-radius: 50px;
    padding: 20px 65px;
    letter-spacing: 1.5px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
}

.button-style {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.button-style:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    border-radius: 50px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.button-style:hover, .button-style:focus, .button-style:active {
    color: white;
}

.button-style:hover:before, .button-style:focus:before, .button-style:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}



/* Preloader */

.preloader {
    background: #24fc36;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.preloader p {
    position: absolute;
    top: 50%;
    left: 42%;
    margin: -26px 0 0 -26px;
    font-size: 40px;
    color: #ffffff;
    /* font-family: 'Special Elite', cursive; */
}



/* Navigation Menu */

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 28px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo a {
    display: block;
    color: #bc22c2;
    letter-spacing: 6px;
    font-weight: 600;
    font-size: 25px;
    /* width: 92px; */
    /* font-family: 'Special Elite', cursive; */
}

.navigation-menu .navbar-nav li a {
    color: #000000;
    text-transform: uppercase;
    /* font-family: 'Special Elite', cursive; */
    font-size: 15px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
}

.navigation-menu .navbar-nav li a:hover {
    background: none;
    color: #bc22c2;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #bc22c2;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.navigation-background {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: #24fc36;
}

.navigation-background .logo {
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-background .logo a {
	color: #000000;
}

.navigation-background .navigation-menu .navbar-nav li a {
    color: #000000;
    padding: 20px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.navigation-background .navigation-menu .navbar-nav li a:after {
    content: '';
    height: 2px;
    width: 0;
    left: 0;
    bottom: 8px;
    position: absolute;
    background: #ffffff;
    transition: .5s;
}
.navigation-background .navigation-menu .navbar-nav li:hover a:after, .navigation-background .navigation-menu .navbar-nav li.active a:after {
    width: 100%;
}

.navigation-background .navigation-menu .navbar-nav li a:hover {
    color: #fff;
}



/* Home Section */

.home-section-background {
	padding: 50px;
    background-color: #ffffff;
}

.home-section-background h1 {
	font-size: 60px;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
    margin-top: 13%;
}

.home-section-background p {
	font-size: 16px;
	color: #000000;
	font-weight: 500;
	text-align: center;
    margin-top: 25px;
}







/* Footer */

.footer-section {
    /* margin-top: -240px; */
    background-color: #24fc36;
}

.footer-section .column-one {
	padding: 50px 0px;
}

.footer-section p {
    font-size: 14px;
    margin-top: 25px;
}


/* Responsive */


@media only screen and (max-width: 991px) {
	.countdown-timer {
		border-bottom: 2px solid #ffffff;
	}
    
    .contact-us-detail {
        margin-top: 80px;
    }
    
    .preloader p {
        font-size: 20px;
    }
}


@media only screen and (min-width: 767px) and (max-width: 1199px) {
    .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
        font-family: 'Poppins', sans-serif; 
    }
    
	.navigation-background .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }
	
	.navigation-background .logo {
		padding-top: 28px;
	}
}


@media only screen and (max-width: 767px) {
    .navbar-toggle .icon-bar {
        background: #000000;
    }
    
	.navigation-background .navbar-toggle .icon-bar {
        background: #ffffff;
    }
    
	.navbar-toggle {
        margin-right: 0px;
        margin-top: -30px;
    }
    
	.navbar {
        min-height: 0px;
    }
    
	.navigation-menu .navbar-nav li a {
        padding: 11px 15px;
		color: #bc22c2;
    }
    
	.navigation-menu .navbar-nav li a:hover {
        color: #bc22c2;
    }
    
	.navigation-background .navigation-menu .navbar-nav li a:hover {
        color: #bc22c2;
    }
    
	.navigation-background .navigation-menu .navbar-nav li a {
        padding: 11px 15px;
    }
    
	.navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }
    
	.navbar-toggle {
        margin-top: -30px;
    }
    
	.navbar-collapse {
        background: #24fc36;
    }
    
	.navigation-background .navbar-collapse {
        background: #24fc36;
    }
}


@media only screen and (max-width: 555px) {
	 .section-title h2 {
		 font-size: 20px;
	 }
	 
	 .social-icon li a {
         width: 40px;
         height: 40px;
         line-height: 44px;
         font-size: 16px;
     }
     
     #mc-form {
         margin-bottom: 10px !important;
     }
      
     .subscribe-form .submit-btn {
         position: inherit;
         width: 100px;
         font-size: 12px;
         padding: 7px;
         margin-top: 7px;
     }
}


@media only screen and (max-width: 449px) {
     .button {
       padding: 15px 30px;
       font-weight: 600;
       font-size: 10px;
     }
	  
    .button-style:before {
       display: none;
     }
	   
	  .form-control {
		  font-size: 11px;
	  }
      
      .preloader p {
          font-size: 12px;
      }
	
}


@media only screen and (max-width: 360px) {
    
	.home-section-background h2 {
		font-size: 40px;
        margin-top: 25%;
	}
	
	.countdown-timer {
		padding: 42px;
	}
	
	.form-control {
		font-size: 10px;
	}
}



/* Useful Classes */


/* Spacing ( with Margin and Padding ) */

/* Margin */

.margin-0 {
	margin: 0px !important;
}

/* Margin Top */

.margin-top-0 {
	margin-top: 0px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

.margin-top-40 {
	margin-top: 40px !important;
}

.margin-top-50 {
	margin-top: 50px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-70 {
	margin-top: 70px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-90 {
	margin-top: 90px !important;
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-120 {
	margin-top: 120px !important;
}

.margin-top-150 {
	margin-top: 150px !important;
}

.margin-top-200 {
	margin-top: 200px !important;
}


/* Margin Bottom */

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-10 {
	margin-bottom: 10px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-30 {
	margin-bottom: 30px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-50 {
	margin-bottom: 50px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-70 {
	margin-bottom: 70px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.margin-bottom-90 {
	margin-bottom: 90px !important;
}

.margin-bottom-100 {
	margin-bottom: 100px !important;
}

.margin-bottom-120 {
	margin-bottom: 120px !important;
}

.margin-bottom-150 {
	margin-bottom: 150px !important;
}

.margin-bottom-200 {
	margin-bottom: 200px !important;
}



/* Padding */

.padding-0 {
	padding: 0px !important;
}


/* Padding Top */

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-10 {
	padding-top: 10px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}

.padding-top-30 {
	padding-top: 30px !important;
}

.padding-top-40 {
	padding-top: 40px !important;
}

.padding-top-50 {
	padding-top: 50px !important;
}

.padding-top-60 {
	padding-top: 60px !important;
}

.padding-top-70 {
	padding-top: 70px !important;
}

.padding-top-80 {
	padding-top: 80px !important;
}

.padding-top-90 {
	padding-top: 90px !important;
}

.padding-top-100 {
	padding-top: 100px !important;
}

.padding-top-120 {
	padding-top: 120px !important;
}

.padding-top-150 {
	padding-top: 150px !important;
}

.padding-top-200 {
	padding-top: 200px !important;
}


/* Padding Bottom */

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.padding-bottom-10 {
	padding-bottom: 10px !important;
}

.padding-bottom-20 {
	padding-bottom: 20px !important;
}

.padding-bottom-30 {
	padding-bottom: 30px !important;
}

.padding-bottom-40 {
	padding-bottom: 40px !important;
}

.padding-bottom-50 {
	padding-bottom: 50px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-70 {
	padding-bottom: 70px !important;
}

.padding-bottom-80 {
	padding-bottom: 80px !important;
}

.padding-bottom-90 {
	padding-bottom: 90px !important;
}

.padding-bottom-100 {
	padding-bottom: 100px !important;
}

.padding-bottom-120 {
	padding-bottom: 120px !important;
}

.padding-bottom-150 {
	padding-bottom: 150px !important;
}

.padding-bottom-200 {
	padding-bottom: 200px !important;
}



/* Colors */

.color-1 {
	color: #f306a0;
}

.color-2 {
	color: #d60bfb;
}

.color-3 {
	color: #d8be10;
}

.color-4 {
	color: #0fd28a;
}

.color-5 {
	color: #f97400;
}

.color-6 {
	color: #08a6f3;
}



/* Background Color */

.bg-color-1 {
	background-color: #f306a0;
}

.bg-color-2 {
	background-color: #d60bfb;
}

.bg-color-3 {
	background-color: #d8be10;
}

.bg-color-4 {
	background-color: #0fd28a;
}

.bg-color-5 {
	background-color: #f97400;
}

.bg-color-6 {
	background-color: #08a6f3;
}



/* UiPasta Credit */

.uipasta-credit {
    color: #ffffff;
    text-align: center;
}

.credit a {
    color: #bc22c2 ;
    font-weight: 600;
}




.hero-image {
    padding-top: 60px;
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 600px;
}




#faq {
  margin-top: 20px;
}
.accordion-item {
    padding: 0 30px;
}
.accordion-section h3 {
    font-size: 24px;
    color: #1c81ac;
    margin-bottom: 14px;
    text-transform: capitalize;
    margin-top: 0;
    letter-spacing: 0;
}
section h3 {
    font-weight: 600;
    letter-spacing: 0.5px;
}
.panel-group {
    margin-bottom: 0;
}
.accordion-section .panel-heading {
    color: #323b40;
    padding: 10px 0 12px;
}
.accordion-section h2.panel-title {
    padding: 0 10px;
    margin-bottom: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    /* font-family: 'Special Elite', cursive; */
    letter-spacing: 0;
    font-weight: 400;
}
#faq .collapsed {
    display: table;
    line-height: 22px;
}
#faq .faq-toggle {
    float: left;
}
section.faq .fa:before {
    font-size: 20px;
    padding-right: 8px;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .pricing-plans-wrapper .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}
section.faq .panel-body p {
    text-align: left;
    font-size: 16px;
}
p, .ul li {
    color: #5b666d;
}
ol, ul {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

